@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
html{
    font-size: 15px;
}
ul{
    background-color: #2f4cf0;
    border-radius: 15px;
}
li{
    display: inline;
    list-style: none;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-inline: 2rem;
}